<nav class="flex lg:flex-row flex-col w-full bg-black px-6 py-3 lg:rounded border">
    <div class="flex flex-row justify-between w-full">

        <a class="flex text-lg font-bold my-auto" href="#">
            <img src="@/assets/K-C.png" class="w-8 h-8" alt="">
            <span class="whitespace-nowrap lg:hidden block ml-4 my-auto lg:hidden text-white"> Title Of Company </span>
        </a>

        <!-- Butonumuz. 2 adet ikon bulunuyor. Üsteki ikon hamburger menuyu alttaki icon ise X işaretini temsil ediyor. v-if,ng-if gibi seçeneklerle bunu kontrol edebilirsiniz.  -->
        <button class="border text-white lg:hidden" v-on:click="openMenu">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-9 w-9" fill="none" viewBox="0 0 24 24" stroke="currentColor" v-if="!showNavbar">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>     
            <svg xmlns="http://www.w3.org/2000/svg" class="h-9 w-9 " fill="none" viewBox="0 0 24 24" stroke="currentColor" v-if="showNavbar">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>       
        <div class="lg:flex lg:flex-row flex-grow w-full lg:justify-between hidden" id="desktop-menu">
            <ul class="lg:flex mr-auto uppercase lg:space-x-4 lg:ml-8 text-white">
                <li class="my-auto">
                    <a aria-current="page" href="#">Home</a>
                </li>
                <li class="my-auto">
                    <a href="#">Contact</a>
                </li>
                <li class="my-auto">
                    <a href="#">About Us</a>
                </li>
            </ul>

            <!-- Desktop görünümlerde arama alanı -->
            <form class="flex space-x-3">
                <input type="text" placeholder="Search" class=" focus:outline-none focus:ring-4 bg-white px-3 py-1.5 font-normal	border border-gray-300 rounded transition duration-300 appearance-none	placeholder-gray-500">
                <button class="px-4 py-2 bg-green-500 text-base  no-underline select-none text-center leading-6 font-normal align-middle rounded-md  text-white focus:outline-none hover:bg-green-700 transition duration-300 shadow-lg focus:ring-4 focus:ring-green-200 inline-block">
                    Search
                </button>
            </form>
        </div>
    </div>

    <!-- Sadece mobil ekranlarda gözükür. v-if, ng-if gibi seçeneklerle açık kapalı durumuna getirerek canlılık katabilirsiniz.  -->
    <div class="flex flex-col w-full mt-4 lg:hidden" name="navbar-anim" v-if="showNavbar" id="mobile-menu">
        <ul class="flex flex-col uppercase space-y-2 text-white">
            <li class="p-2 rounded my-auto font-sans hover:bg-gray-200 hover:text-black">
                <a aria-current="page" href="#">Home</a>
            </li>
            <li class="p-2 rounded my-auto font-sans hover:bg-gray-200 hover:text-black">
                <a href="#">About Us</a>
            </li>
            <li class="p-2 rounded my-auto font-sans hover:bg-gray-200 hover:text-black">
                <a href="#">Contact</a>
            </li>
        </ul>
        <!-- Mobil görünümlerde arama alanı -->
        <form class="flex space-x-3 mt-6 justify-center">
            <input type="text" placeholder="Search" class=" focus:outline-none focus:ring-4 bg-white px-3 py-1.5 font-normal	border border-gray-300 rounded transition duration-300 appearance-none	placeholder-gray-500">
            <button class="px-4 py-2 bg-green-500 text-base  no-underline select-none text-center leading-6 font-normal align-middle rounded  text-white focus:outline-none hover:bg-green-700 transition duration-300 shadow-lg focus:ring-4 focus:ring-green-200 inline-block">
                Search
            </button>
        </form>
    </div>
</nav>